#info_sivu {
  margin: auto;
  background-color: #ffebb7;
  max-width: 850px;
  max-height: 90%;
  min-height: 90%;
  height: 90%;

  flex-grow: 4;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

#info_sisalto {
  padding-bottom: 10%;
  overflow-y: scroll;
  flex-grow: 10;
}

.info_teksti {
  text-align: justify;
  text-justify: inter-character;

  hyphens: manual;
  -moz-hyphens: manual;
  -webkit-hyphens: manual;
  word-break: break-word;
  -ms-word-break: break-all;
  word-wrap: break-word;

  margin-right: 5vw;
  margin-left: 5vw;
}

.info_keskelle {
  text-align: center;
}

.flippikortit {
  display: flex;
  justify-content: center;
}

.flippikortti {
  background-color: transparent;
  width: 20vw;
  height: 20vw;
  perspective: 50vw;
  margin: 1vw;
}

.flippikortti_sisus {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flippikortti:hover .flippikortti_sisus {
  transform: rotateY(180deg);
}

.flippikortti_front,
.flippikortti_back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flippikortti_front {
  background-color: #bbb;
  color: black;
}

.flippikortti_back {
  background-color: #ffebb7;
  color: black;
  transform: rotateY(180deg);
}

/** Pienemmät näytöt, kuin desktop (esim iPad)**/
@media (max-width: 1200px) {
  #naamakuva {
    width: 30vw !important;
    height: 30vw !important;
    perspective: 1vw !important;
  }
  .flippikortti {
    width: 30vw;
    height: 30vw;
    perspective: 50vw;
    margin: 1vw;
  }
}

/** PUHELIN **/
@media (max-width: 500px) {
  .flippikortit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #naamakuva {
    width: 50vw !important;
    height: 50vw !important;
    perspective: 1vw !important;
  }

  .flippikortti {
    width: 50vw;
    height: 50vw;
    perspective: 50vw;
    margin: 1vw;
  }
}
