/* Kaikkien baarien listasta muodostuvan näkymän css-tiedosto */
/* Näkymän pohjimmainen div */
#baari_info {
  max-height: 90%;
  height: 90%;
  max-width: 850px;
  margin: 0;
  margin: auto;
  background-color: #ffebb7;
  display: flex;
  flex-direction: column;
}
/* lista-elementti */
#kaikki_baarit {
  padding-bottom: 10%;
  overflow-y: scroll;
  text-align: center;
}
/* #kaikki_baarit -listan li-elementtien sisässä oleva div, joka on oletuksena piilossa
ja joka avaamalla tulee näkyviin baarin tiedot */
.lisatieto {
  margin-bottom: 2em;
}

.lisatieto div {
  margin-top: 1em;
  margin-bottom: 1em;
}
/* Baarin tiedot */
.osoite,
.aukioloalkio,
.kuvaus {
  width: 80%;
  margin: auto;
  max-width: 500px;
}

.osoite {
  font-family: "roboto_monobold";
}
/* aukiolojen tyylittelyt */
.aukiololista {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aukioloalkio {
  display: flex;
  justify-content: space-between;
}

.aukioloalkio span {
  text-align: left;
}

/* ominaisuuksia ---------------------------------------------------  */

@media (hover: hover) {
  .nimi_ja_nuoli:hover {
    cursor: pointer;
    color: grey;
  }
}

.nimi_ja_nuoli {
  margin: 0 1em 0;
  display: flex;
  justify-content: space-between;
}

.kaannettu_nuoli {
  transform: rotate(90deg);
}
