/* 
#243763
#FF6E31
#FFEBB7
#AD8E70
*/

/* Poistetaan kaikista listoista marker ja margin */
ul {
  list-style-type: none;
  margin: 0 !important;
}

/* Globaali fontti ja isona ainakin toistaiseksi*/
body {
  font-family: monospace !important;
  font-size: x-large !important;
}

#alapalkki {
  background-color: #ad8e70;
  display: flex;
  justify-content: space-between;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 1%;
  padding-bottom: 1%;

  position: fixed;
  z-index: 10000;
  bottom: 0;
  left: 0;
  min-width: 100%;
  width: 100%;
}

#alapalkki button {
  border: none;
  background-color: #ad8e70;
}

