/* 
#243763
#FF6E31
#FFEBB7
#AD8E70
*/

/* Poistetaan kaikista listoista marker ja margin */
ul {
  list-style-type: none;
  margin: 0 !important;
}

/* Globaali fontti ja isona ainakin toistaiseksi*/
body {
  font-family:monospace !important;
  font-size:x-large !important;
}

/* Baarinlisäämisnapin ja listannollausnapin divi
Oikeaan reunaan alas päällekkäin.
*/
#baarikierrosnapit {
  position: fixed;
  bottom:0;
  right:0;
  margin-right: 5%;
  margin-bottom: 5%;
  min-height: 175px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/*baarikierrosnappien kokoa ja väriä*/
#baarikierrosnapit button {
  background-color: #243763;
  font-size:xx-large !important;
  border-radius: 100% !important;
  min-width: 75px;
  max-width: 75px;
  min-height: 75px;
  max-height: 75px;
}

#alkujorinat {
  background-color: #ffebb7;
}

#toiminnallisuus {  
  background-color: #ffebb7;
  min-height:100vh;
}

#baari_info {
  background-color: #ffebb7;
}

#loppuhorinat {
  background-color: #ffebb7;
}

#alapalkki {
  background-color: #AD8E70;
  display: flex;
  justify-content: space-between;
  padding-left: 10%;
  padding-right: 10%;  
  position: fixed;
  bottom:0;
  left:0;
  min-width: 100%;
  width:100%;
}

#alapalkki button {
  border: none;
  background-color: #AD8E70; 
}