/* 
#243763
#FF6E31
#FFEBB7
#AD8E70
*/
ul {
  list-style-type: none;
  padding: 0;
  margin: 0 !important;
}
body {
  font-family:monospace !important;
  font-size:x-large !important;
}
#baarikierrosnapit {
  position: fixed;
  bottom:0;
  right:0;
  margin-right: 5%;
  margin-bottom: 5%;
  min-height: 175px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

button {
  background-color: #243763;
  font-size:xx-large !important;
  border-radius: 100% !important;
  min-width: 75px;
  max-width: 75px;
  min-height: 75px;
  max-height: 75px;
}
#alkujorinat {
  background-color: #ffebb7;
}
#toiminnallisuus {  
  background-color: #ffebb7;
  min-height:100vh;
}
#baari_info {
  background-color: #ffebb7;
}
#loppuhorinat {
  background-color: #ffebb7;
}
