<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="fi">
  <head>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
      charset="UTF-8"
    />
    <link
      rel="icon"
      type="image/x-icon"
      href="{{ url_for('static',filename='./kuvat/favicon.svg') }}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='./tyylit/tyylit.css') }}"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
      integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI="
      crossorigin=""
    />
    <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script
      src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
      integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM="
      crossorigin=""
    ></script>

    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script> -->
    <script src="{{ url_for('static', filename='./toiminta/jquery.js') }}"></script>
    <script
      type="module"
      src="{{ url_for('static', filename='./toiminta/toiminta.js') }}"
    ></script>
    <title>Kaljakierros</title>
  </head>
  <body>
    <div id="baari_info" style="display: none">
      <h1 class="otsikko">Kaikki baarit</h1>
      <ul id="kaikki_baarit"></ul>
    </div>

    <div id="karttasivu">
      <div id="map"></div>
      <div id="baarikierrosnapit">
        <button id="kumoa_baari">
          <img
            alt="kumoa"
            src="{{ url_for('static', filename='./kuvat/kumoa.svg') }}"
          />
        </button>
        <button id="lisaa_baari">
          <img
            alt="plus"
            src="{{ url_for('static', filename='./kuvat/plus.svg') }}"
          />
        </button>
      </div>
    </div>
    <div id="info_sivu" style="display: none">
      <div id="info_sisalto">
        <div>
          <h1 class="otsikko">Miksi?</h1>
          <div class="info_teksti">
            <p>
              Kaljakierros on mielestämme merkittävä kulttuuriteko Jyväskylän
              keskustan baari- ja ravintolakulttuurin elvyttämiseksi. Keskustan
              alueella on paljon juottoloita, joista useat saattavat jäädä
              sivukujien hämärään. Sovelluksen tarkoituksena on tuoda yhtäläiset
              mahdollisuudet jokaiselle keskustan baarille saada kävijöitä,
              kuten myös asiakkaille uusia kokemuksia.
            </p>
          </div>
        </div>
        <div>
          <h1>Tiimi</h1>
          <div class="info_teksti">
            <p>
              Sovelluksen takana on kaksi Jyväskylän yliopiston tietotekniikan
              opiskelijaa, Joona ja Tuukka.
            </p>

            <div class="flippikortit">
              <div class="flippikortti">
                <div class="flippikortti_sisus">
                  <div class="flippikortti_front">
                    <img
                      id="naamakuva"
                      src="../static/kuvat/joona_naama.JPG"
                      alt="Kuva Joonasta"
                      style="width: 20vw; height: 20vw"
                    />
                  </div>
                  <div class="flippikortti_back">
                    <h1>Joona Laitinen</h1>
                    <p>jaada jaada</p>
                  </div>
                </div>
              </div>

              <div class="flippikortti">
                <div class="flippikortti_sisus">
                  <div class="flippikortti_front">
                    <img
                      id="naamakuva"
                      src="../static/kuvat/tuukkanaama.jpg"
                      alt="Kuva Tuukasta"
                      style="width: 20vw; height: 20vw"
                    />
                  </div>
                  <div class="flippikortti_back">
                    <h1>Tuukka Pitkänen</h1>
                    <p>pälä pälä</p>
                  </div>
                </div>
              </div>
            </div>

            <p>Erityiskiitokset myös projektissa avustaneille:</p>
            <ul class="info_keskelle">
              <li>
                <a
                  href="https://student.labranet.jamk.fi/~AA3977/portfolio/etusivu.html"
                  >Taneli</a
                >
                (ikonit) ja
              </li>
              <li>
                <a
                  href="https://www.linkedin.com/in/konsta-k%C3%A4ht%C3%A4v%C3%A4-97734b22b/"
                  >Konsta</a
                >
              </li>
            </ul>
          </div>
        </div>
        <div>
          <h1>Anna palautetta</h1>
          <div class="info_teksti">
            <p>
              Olemme vielä beta-vaiheessa, joten palautetta ja kehitysehdotuksia
              voi lähettää osoitteeseen:
            </p>
            <p class="info_keskelle">
              <a href="mailto:kaljakierros@gmail.com">kaljakierros@gmail.com</a>
            </p>
          </div>
        </div>
        <div>
          <h1>Koodista</h1>
          <div class="info_teksti">
            <p>
              Uskomme molemmat kehittäjät vahvasti avoimen lähdekoodin voimaan.
              Siitä syystä Kaljakierroksen koodi on täysin luettavissa
              <a href="https://github.com/jjalaitinen/kaljakierros"
                >Githubissa</a
              >. Lisenssi antaa vapaat kädet ohjelmakoodin refaktorointiin,
              joten sinun on mahdollista käydä esimerkiksi forkkaamassa projekti
              ja laatia Kaljakierros oman kyläsi tarpeisiin. Käy kurkkaamassa,
              jos kiinnostaa!
            </p>
          </div>
        </div>
        <div>
          <h1>Muuta</h1>
          <div class="info_teksti">
            <p class="info_keskelle">Drink responsibly ja sitä rataa.</p>
          </div>
        </div>
      </div>
    </div>
    <div id="alapalkki">
      <div id="alapalkin_painikkeet">
        <button id="nayta_kaikki_baarit" class="alabar_button">
          <img
            alt="baarikierros"
            src="{{ url_for('static', filename='./kuvat/baarilista.svg') }}"
          />
        </button>
        <button id="nayta_kartta" class="alabar_button">
          <img
            alt="kartta"
            src="{{ url_for('static', filename='./kuvat/kartta.svg') }}"
          />
        </button>
        <button id="nayta_info" class="alabar_button">
          <img
            alt="info"
            src="{{ url_for('static', filename='./kuvat/info.svg') }}"
          />
        </button>
      </div>
    </div>
  </body>
</html>
