<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="fi">
  <head>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
      charset="UTF-8"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='./tyylit/tyylit.css') }}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='./tyylit/baarikierros.css') }}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='./tyylit/kaikki_baarit.css') }}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='./tyylit/karttasivu.css') }}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='./tyylit/info_sivu.css') }}"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
      integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI="
      crossorigin=""
    />
    <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script
      src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
      integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM="
      crossorigin=""
    ></script>

    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script> -->
    <script src="{{ url_for('static', filename='./toiminta/jquery.js') }}"></script>
    <script
      type="module"
      src="{{ url_for('static', filename='./toiminta/toiminta.js') }}"
    ></script>
    <title>Kaljakierros</title>
  </head>
  <body>
    <div id="baarikierros">
      <div id="alkujorinat">
        <h1 class="otsikko">Baarikierros</h1>
        <div>Tervetuloa kaljakierrokselle, mitä laitetaan?</div>
      </div>
      <div id="toiminnallisuus">
        <ul id="baarikierroslista"></ul>
        <div id="baarikierrosnapit">
          <button id="poista_baarit">
            <img
              alt="roskakori"
              src="{{ url_for('static', filename='./kuvat/roskakori.svg') }}"
            />
          </button>
          <button id="lisaa_baari">
            <img
              alt="plus"
              src="{{ url_for('static', filename='./kuvat/plus.svg') }}"
            />
          </button>
        </div>
      </div>
    </div>

    <div id="baari_info">
      <h1 class="otsikko">Kaikki baarit</h1>
      <ul id="kaikki_baarit"></ul>
    </div>

    <div id="karttasivu">
      <div id="map"></div>
    </div>
    <div id="info_sivu">
      <div id="info_sisalto">
        <div>
          <h1 class="otsikko">Miksi?</h1>
          <p>
            Kaljakierros on mielestämme merkittävä kulttuuriteko Jyväskylän
            keskustan baari- ja ravintolakulttuurin elvyttämiseksi. Keskustan
            alueella on paljon juottoloita, joista useat saattavat jäädä
            sivukujien hämärään. Sovelluksen tarkoituksena on tuoda yhtäläiset
            mahdollisuudet jokaiselle baarille saada kävijöitä, kuten myös
            asiakkaille uusia kokemuksia.
          </p>
        </div>
        <div>
          <h1>Tiimi</h1>
          <p>
            Sovelluksen takana on kaksi Jyväskylän yliopiston tietotekniikan
            opiskelijaa, Joona ja Tuukka. Meille molemmille olut ja koodaaminen
            on lähellä sydäntä, joten
          </p>
          <p>Joona, Tuukka, Taneli ja Konsta</p>
          <p>Visual mastermind: Miro</p>
        </div>
        <div>
          <h1>Anna palautetta</h1>
          <p>
            Olemme vielä beta-vaiheessa, joten palautetta ja kehitysehdotuksia
            voi lähettää osoitteeseen:
          </p>
          <p>kaljakierros@gmail.com</p>
        </div>
        <div>
          <h1>Koodista</h1>
          <p>
            Sovelluksen pohjakoodi on täysin luettavissa
            <a href="https://github.com/jjalaitinen/kaljakierros">Githubissa</a
            >. Käy kurkkaamassa, jos kiinnostaa!
          </p>
        </div>
        <div>
          <h1>Huumoria</h1>
          <p>tänne listataan vuoden meemit</p>
        </div>
        <div>
          <h1>Playlist</h1>
          <p>VAAAiKO?!</p>
        </div>
      </div>
    </div>
    <div id="alapalkki">
      <div id="alapalkin_painikkeet">
        <button id="nayta_baarikierros" class="valittuna alabar_button">
          <img
            alt="baarikierros"
            src="{{ url_for('static', filename='./kuvat/baarikierros.svg') }}"
          />
        </button>
        <button id="nayta_kaikki_baarit" class="alabar_button">
          <img
            alt="baarikierros"
            src="{{ url_for('static', filename='./kuvat/baarilista.svg') }}"
          />
        </button>
        <button id="nayta_kartta" class="alabar_button">
          <img
            alt="kartta"
            src="{{ url_for('static', filename='./kuvat/kartta.svg') }}"
          />
        </button>
        <button id="nayta_info" class="alabar_button">
          <img
            alt="info"
            src="{{ url_for('static', filename='./kuvat/info.svg') }}"
          />
        </button>
      </div>
    </div>
  </body>
</html>
